*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    /*footer*/
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main{
    padding: 100px;
}

h1{
    font-size: 2rem;
    color: rgb(11, 13, 114);
    padding-bottom: 20px;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

header * {
    display: inline;
    height: 50px;
}

.uni{
    font-size: 30px;
    padding-top: 15px;
    color: rgb(11, 13, 114);
    font-family: 'Times New Roman', Times, serif;
}

nav{
    height: 80px;
    width: 100%;
    /*
    padding: auto;
    text-align: center;
    */
}

nav ul{
    float: right;
    margin-right: 20px;
}

.links, li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.links li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

.links li a{
    list-style-type: none;
    color:rgb(5, 7, 78);
    text-decoration:none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1,75rem;
    font-weight: 600;
}

.nav{
    color:rgb(5, 7, 78);
    text-decoration:none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1,75rem;
    font-weight: 600;
}

 .logo{
    padding: 15px;
    text-align: center;
}

/*MENU HAMBURGUESA Y MENÚ DESPLEGABLE*/

.links a.active, .links a:hover{
    background: rgba(11, 13, 114, 0.759);
    transition: .5s;
    color:#fff;
}

/*ÍCONO MENÚ HAMBURGUESA*/
.checkbtn{
    font-size: 30px;
    color: rgb(12, 12, 87);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


/*RESPONSIVE*/
@media(max-width: 992px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(248, 245, 245);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a:hover, nav ul li a.active{
        background: none;
        color: rgba(244, 242, 237, 0.956);
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/*FIN CSS MENU HAMBURGUESA*/

/*
nav ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}
*/
/*
nav .logo{
    width: 100%;
}
*/

/*FOOTER - hay que arreglarlo*/
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #11111179;
    width: 100%;
    color: #fff;
    padding: 3rem;
    margin-top: auto;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.redsoc{
    color:white;
    font-size: 1vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.redsoc li{
    margin: 0 10px;
}

.redsoc a{
    color: #ffff;
    margin: 0px 6px;
    font-size: 2vw;
}

.redsoc a:hover i{
    color: aqua;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
