*{
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-top: 50px;
}

main{
    padding: 20px;
}

h1{
    font-size: 2rem;
    color: rgb(11, 13, 114);
}

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

header * {
    display: inline;
    height: 50px;
}

nav{
    padding: auto;
    text-align: center;
}

.nav{
    color:rgb(5, 7, 78);
    text-decoration:none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1,75rem;
    font-weight: 600;
}

.nav ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}

.nav .logo{
    width: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.image-container{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.redsoc{
    color:white;
    font-size: 1.5vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.redsoc li{
    margin: 0 10px;
}

.redsoc a{
    color: #ffff;
    margin: 0px 6px;
    font-size: 2vw;
}

.redsoc a:hover i{
    color: aqua;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-bottom{
    background: #111;
    width: 100vw;
    padding-bottom: 20px;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}


